table.wpDataTable.wpDataTableID-20 {
    border: 1px solid #e2e6ec!important;
    border-collapse: separate !important;
    border-radius: 6px!important;
}

table.wpDataTable.wpDataTableID-20 * {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

table.wpDataTable.wpDataTableID-20 th {
    font-size: 12px;
    text-transform: uppercase;
    background-color: rgb(251, 251, 251) !important;
    padding: 14px!important;
}

table.wpDataTable.wpDataTableID-20 thead > tr > th {
    border-bottom: none!important;
}

table.wpDataTable.wpDataTableID-20 td {
    font-size: 14px;
}

table.wpDataTable.wpDataTableID-20 > tbody > tr > td {
    padding: 14px!important;
    text-align: left!important;
}
}